{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <form class="row" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="image">
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body p-3">
                        <h5 class="card-title"><strong>Title:</strong> <input name="title" value="product.name"
                                class="form-control" type="text"></h5>
                        <p class="card-text"><strong>Desription:</strong> <input name="description"
                                value="product.description" class="form-control" type="text">
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Price:</strong> <input name="price" value="book.price"
                                class="form-control" type="text">
                        </li>
                        <li class="list-group-item"><strong>Count:</strong> <input name="count" value="book.count"
                                class="form-control" type="text">
                        </li>
                        <li class="list-group-item"><strong>Image:</strong> <input name="image"
                                class=" btn btn-warning form-control" type="file"></li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-warning mt-3">Update</button>
            </div>

        </form>
    </div>


</div>

{% endblock %}